

<% content_for :title, "Bookings" %>

<h1>Your Bookings</h1>
<div id="bookings" class="row g-3">
  <% @bookings.each do |booking| %>
    <% if current_user.id == booking.guest_id || booking.location.host_id == current_user.id %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= render booking %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Back to Locations", locations_path %>
