

<% content_for :title, "Bookings" %>

<h1>Bookings</h1>
  <div id="bookings">
    <% @bookings.each do |booking| %>
<% if current_user.id == booking.guest.id || booking.location.host_id == current_user.id %>
      <%= render booking %>
      <p>
        <%= link_to "Show this booking", booking %>
      </p>
    <% end %>
<% end %>
  </div>

<%= link_to "Back to Locations", locations_path %>
